In [2]:
#https://www.learncodewithmike.com/2021/10/python-download-files.html
import requests
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
#https://zhuanlan.zhihu.com/p/69194965
import yfinance as yf

def crawler(crypto_1, crypto_2, crypto_3, crypto_4): 
    crypto1 = yf.Ticker(str(crypto_1) + "-USD")
    crypto1_data = crypto1.history(start="2018-01-02", end="2021-07-01")

    crypto2 = yf.Ticker(str(crypto_2) + "-USD")
    crypto2_data = crypto2.history(start="2018-01-02", end="2021-07-01")

    crypto3 = yf.Ticker(str(crypto_3) + "-USD")
    crypto3_data = crypto3.history(start="2018-01-02", end="2021-07-01")

    crypto4 = yf.Ticker(str(crypto_4) + "-USD")
    crypto4_data = crypto4.history(start="2018-01-02", end="2021-07-01")

    
    df_for_price = pd.DataFrame({str(crypto_1)+"_Close": crypto1_data["Close"],
                                str(crypto_2)+"_Close": crypto2_data["Close"],
                                str(crypto_3)+"_Close": crypto3_data["Close"],
                                str(crypto_4)+"_Close": crypto4_data["Close"]
                                })
    
    #print(df_for_price)
    return df_for_price
                            

#範例
crawler("ETH", "BNB", "XLM", "BTC")

              ETH_Close   BNB_Close  XLM_Close     BTC_Close
Date
2018-01-01   772.640991    8.414610   0.480008  13657.200195
2018-01-02   884.443970    8.837770   0.564766  14982.099609
2018-01-03   962.719971    9.535880   0.896227  15201.000000
2018-01-04   980.921997    9.213990   0.724050  15599.200195
2018-01-05   997.719971   14.917200   0.662712  17429.500000
...                 ...         ...        ...           ...
2021-06-26  1829.239258  279.438049   0.249309  32186.277344
2021-06-27  1978.894653  290.567017   0.258648  34649.644531
2021-06-28  2079.657471  289.534119   0.263508  34434.335938
2021-06-29  2160.768311  300.211548   0.280818  35867.777344
2021-06-30  2274.547607  303.295868   0.282978  35040.835938

[1277 rows x 4 columns]

In [4]:
#df_for_price = crawler("BTC", "ETH", "BNB", "DOGE")
df_for_price = crawler("ETH", "BNB", "SHIB", "BTC")

len(df_for_price)

1277

In [57]:
col = list(df_for_price.columns)
#col[0]
df01 = df_for_price.loc[:, [col[0], col[1], col[2]]]
df02 = df_for_price.loc[:, [col[1], col[2], col[0]]]
df03 = df_for_price.loc[:, [col[2], col[0], col[1]]]
df04 = df_for_price.loc[:, [col[3]]]

print(df01,df02,df03,df04)

              ETH_Close   BNB_Close  DOGE_Close
Date
2018-01-01   772.640991    8.414610    0.008909
2018-01-02   884.443970    8.837770    0.009145
2018-01-03   962.719971    9.535880    0.009320
2018-01-04   980.921997    9.213990    0.009644
2018-01-05   997.719971   14.917200    0.012167
...                 ...         ...         ...
2021-06-26  1829.239258  279.438049    0.244784
2021-06-27  1978.894653  290.567017    0.264450
2021-06-28  2079.657471  289.534119    0.256857
2021-06-29  2160.768311  300.211548    0.262769
2021-06-30  2274.547607  303.295868    0.254215

[1277 rows x 3 columns]              BNB_Close  DOGE_Close    ETH_Close
Date
2018-01-01    8.414610    0.008909   772.640991
2018-01-02    8.837770    0.009145   884.443970
2018-01-03    9.535880    0.009320   962.719971
2018-01-04    9.213990    0.009644   980.921997
2018-01-05   14.917200    0.012167   997.719971
...                ...         ...          ...
2021-06-26  279.438049    0.244784  1829.239258
2021-06-27  290.567017    0.264450  1978.894653
2021-06-28  289.534119    0.256857  2079.657471
2021-06-29  300.211548    0.262769  2160.768311
2021-06-30  303.295868    0.254215  2274.547607

[1277 rows x 3 columns]             DOGE_Close    ETH_Close   BNB_Close
Date
2018-01-01    0.008909   772.640991    8.414610
2018-01-02    0.009145   884.443970    8.837770
2018-01-03    0.009320   962.719971    9.535880
2018-01-04    0.009644   980.921997    9.213990
2018-01-05    0.012167   997.719971   14.917200
...                ...          ...         ...
2021-06-26    0.244784  1829.239258  279.438049
2021-06-27    0.264450  1978.894653  290.567017
2021-06-28    0.256857  2079.657471  289.534119
2021-06-29    0.262769  2160.768311  300.211548
2021-06-30    0.254215  2274.547607  303.295868

[1277 rows x 3 columns]                BTC_Close
Date
2018-01-01  13657.200195
2018-01-02  14982.099609
2018-01-03  15201.000000
2018-01-04  15599.200195
2018-01-05  17429.500000
...                  ...
2021-06-26  32186.277344
2021-06-27  34649.644531
2021-06-28  34434.335938
2021-06-29  35867.777344
2021-06-30  35040.835938

[1277 rows x 1 columns]